<div class='container'>
    <p></p>
    <h1>Update your status</h1>
    
 
        <%= form_for(@user, html: {multipart: true}) do |f| %>
            <!-- <#%= devise_error_messages! %>-->

            <div class="form-group">
             <%= f.label :status %>
             <%= f.text_area :status, autofocus: true, class: 'form-control', placeholder: @user.status %>
            </div>
            
            <p>💖 Please be careful about identifying yourself in pics 💖</p>
        
            <div class="form-group">
              <%= f.label :profile_pic %>
              <%= f.file_field :avatar, class: 'form-control'%>
            </div>
        
            <%= f.submit 'Update', class: 'btn btn-info'%>
             &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
            <%= link_to 'Edit username/password', edit_user_registration_path %>
        <% end %>
</div>